<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="css/reachus.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta author="Zaqi Momin | EE | BTech'21, Rudra Vengurlekar | CL | BTech'21, Aditya Deshmukh | ME | BTech'21, Vednat Barde | ME | BTech'21">
  <link rel="icon" href="img/16by16.png" type="image/png">
  <meta charset="utf-8">
  <title>Reach Us</title>
</head>

<body>
  <!-- Navbar -->
  <div class="zwrap">
    <div class="Rnavbar">
      <ul>
        <li><a href="/">AMALTHEA</a></li>
      </ul>

      <ul id="horizontalNav" style="margin-right: 20px;">
        <a href="/" class="horizontalNavElement">Home</a>
        <a href="https://drive.google.com/file/d/1EMfzWdAkJSdZGa8dS_tlJfvN7UIxrhsV/view?usp=sharing" class="horizontalNavElement">Brochure</a>
        <a href="/Events" class="horizontalNavElement">Events</a>
        <a href="/Conclave" class="horizontalNavElement">Conclave</a>
        <a href="/Symposium" class="horizontalNavElement">Symposium</a>
        <a href="/TechExpo" class="horizontalNavElement">Tech Expo</a>
        <a href="/Sponsors" class="horizontalNavElement">Sponsors</a>
        <a href="#" class="horizontalNavElement">Reach Us</a>
        <a href="/ContactUs" class="horizontalNavElement">Contact Us</a>
      </ul>

      <input id="toggle" type="checkbox">

      <label for="toggle" class="hamburger">
        <div class="top-bun"></div>
        <div class="meat"></div>
        <div class="bottom-bun"></div>
      </label>

      <div class="nav">
        <div class="nav-wrapper">
          <nav>
            <a href="/"><img class="navIcon" src="img/home.svg">Home</a><br>
            <a href="/Events"><img class="navIcon" src="img/event.svg">Events</a><br>
            <a href="/Conclave"><img class="navIcon" src="img/speaker.svg">Conclave</a><br>
            <a href="/Symposium"><img class="navIcon" src="img/meeting.svg">Symposium</a><br>
            <a href="/TechExpo"><img class="navIcon" src="img/exhibition.svg">Tech Expo</a><br>
            <a href="https://drive.google.com/file/d/1rFOQove4gH8xmK3Snc_fagij8d8ryMXQ/view"><img class="navIcon"
                src="https://drive.google.com/uc?export=view&id=1FhnQuGYo1dq7GfHlh348O1QxwMYCXvNM">Brochure</a><br>
            <a href="/Sponsors"><img class="navIcon" src="img/contract.svg">Sponsors</a><br>
            <a href="#"><img class="navIcon" src="img/location.svg">Reach Us</a><br>
            <a href="/ContactUs"><img class="navIcon" src="img/contact.svg">Contact Us</a>
          </nav>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="head">
        <h1>HOW TO <br><span style="color:#ff1f69">REACH</span> US </h1>
        <p>Free shuttle(Bus) Service Routes and Timing</p>
        <hr>
      </div>
      <div class="Routes">
        <div class="sch">
          <div class="sch1">
            <h1>SCH</h1>
            <div class="rou_act">
              <h2 class="bus_routes">BUS ROUTES</h2>
              <hr style="margin:0;width:135px;border-color:white;">
              <div class="rou">
                <h3 class="rou1">ROUTE 1</h3>
                <h3 class="rou2">ROUTE 2</h3>
                <h3 class="rou3">ROUTE 3</h3>
                <h3 class="rou4">ROUTE 4</h3>
              </div>

            </div>
          </div>
          <div class="sch2">
            <span style="color:black">
              <p>EDULE</p>
            </span>
            <div class="rou_info">
              <p id="rou_info_pa">IIT Gandhinagar is running free shuttle services through all the routes shown here. Click on routes for details of the bus routes ald their timings.</p>
            </div>
          </div>


        </div>
        <div class="reach">
          <div class="content">
            <p class="con_p1">HOW TO REACH IITGN?</p>
            <hr style="margin:0;border-color:black;width:206px;">
            <!-- <p class="con_p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p> -->
          </div>

        </div>
      </div>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/reachus.js" charset="utf-8"></script>

</html>
